@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

fieldset {
    border: none;
}

/* Add this rule to align labels and inputs vertically in one line */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form {
    max-width: 400px; /* Adjust the max-width based on your design preferences */
    margin: 0 auto;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100hv - 300px);
}


/* Styling for the mobile menu */
.mobile-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    display: table-column;
    flex-direction: column;
}

/* slight delay before hiding the menu */
.menu-list.leave {
    transition: display 1s ease-out;
}

.menu-list li {
    text-align: center;
    padding: 10px;
}

.mobile-menu.active .menu-list {
    display: flex; /* Display the menu list when active */
    flex-direction: column;
}


/* Media query to show/hide the mobile menu based on screen size */
@media only screen and (max-width: 768px) {
    .menu-list {
        display: none;
        flex-direction: column;
    }
    .mobile-menu.active .menu-list {
        display: flex; /* Display the menu list when active */
    }
}
