@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

/* Add this rule to align labels and inputs vertically in one line */
label {
    flex: 1;
    display: inline-block;
    width: 150px; /* Adjust the width based on your design */
}

input {
    flex: 2; /* Adjust the flex value based on your design */
    width: 100%; /* Take up the remaining width */
}


/* Styling for the mobile menu */
.mobile-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    display: none;    
}

.mobile-menu.active .menu-list {
    display: flex; /* Display the menu list when active */
}

/* Media query to show/hide the mobile menu based on screen size */
@media only screen and (max-width: 768px) {
    .menu-list {
        display: none;
        flex-direction: column;
    }
    .mobile-menu.active .menu-list {
        display: flex; /* Display the menu list when active */
    }
}
